//-миксин для обычной карточки
mixin card( imgHover, imgSrc, imgAlt, cardText, cardPrice)
	if block
		.card-product&attributes(attributes)
			a.card-heart-icon(href="#")
				i.fas.fa-heart
			.card-product__img
				img.product-img(src="../img/"+ imgSrc data-src= "../img/"+ imgSrc data-hover="../img/"+ imgHover alt =''+ imgAlt )
			.card-product__text #{cardText}
			.card-product__price #{cardPrice}
			block


mixin card--sale(prosent,imgHover, imgSrc, imgAlt, cardText, priceOld, priceNew)
	if block
		.card-product&attributes(attributes)
			.card-label-sale #{prosent}
			a.card-heart-icon(href="#")
				i.fas.fa-heart
			.card-product__img
				img.product-img(src="../img/"+ imgSrc data-src= "../img/"+ imgSrc data-hover="../img/"+ imgHover alt =''+ imgAlt )
			.card-product__text.
				#{cardText}
			.card-product__price.card__price--sale
				span.price-new #{priceOld}
				span.price-old #{priceNew}
			block