// Разные миксины по одному, которые понадобятся. Для логотипа, бейджа, и т.д.
mixin colors-product__circle(imgSrc, titleText)
	
		.colors-product__circle
			a.colors-product-link(href="#")
				img(src="../img/good_colors/"+ imgSrc  alt="color" title =""+ titleText)

//- Mixn for search result
mixin searchResult (img, text)
	.header-search__result
		.header-search__result-img
			img(src="../img/good_thumbnail/" + img , alt=img)
		.header-search__result-description !{text}

mixin header-info__item(img, title)
	.header-info__block.d-flex&attributes(attributes)
		img(src=img alt="иконка")
		span #{title}

//- Миксин для бейджа в фильтре
mixin badgeFilter(text, colorClass)
	.badge-filter(class= colorClass)= text
//- Миксин для бейджа статус заказа в аккаунте
mixin badgeOrderStatus(text, colorStatus)
	.badge-order-status(class= colorStatus)= text

//- Миксин для checkbox

mixin checkbox (text)
	label.checkbox-label
		input.checkbox(type="checkbox")
		span.checkbox-custom
		span.checkbox-label-text #{text}

mixin checkboxFilter (text)
	label.checkbox-label
		input.checkbox(type="checkbox")
		span.checkbox-custom.checkbox-custom--filter
		span.checkbox-label-text.checkbox-label-text--filter #{text}

//- Миксин для товаров в корзине
mixin goodsCart (img, text, price)
	.goods-cart-wrapper.clearfix
		.goods-cart__img
			img(src="../img/good_thumbnail/blue-purse/" + img, alt= img)
		.goods-cart__info
			.goods-cart__title-icon
				.goods-cart__description= text
				.goods-cart__close-icon
			.goods-cart__counter-price
				.product-counter.goods-cart__counter
					.btn-counter.btn-counter--minus.goods-cart__counter-minus
					span.goods-cart__count 1
					.btn-counter.btn-counter--plus.goods-cart__counter-plus
				.goods-cart__price= price